<div class="container">
  {{partial 'navbar'}}
  <div class="row">
    <div class="pull-right"><!--
      {{#if session.currentUser}}
        <span {{action 'logout'}} style="cursor: pointer;">logout</span>
      {{else}}
        {{#link-to 'login'}}Login{{/link-to}}
        {{#link-to 'register'}}Register{{/link-to}}
      {{/if}}-->
    </div>
  </div>
  <div class="flash-messages">
    {{#each flashMesages.queue as |flash|}}
      {{flash-message flash=flash}}
    {{/each}}
  </div>
  {{outlet}}
</div>
